<!doctype html>
<html lang="es">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Docker</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
         crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
         crossorigin="anonymous">
        </script>
</head>
<style>
    .encabezados{
        color:black;
    }
    .encabezado{
        color:black;
        align:left;
        
    }
    .texto-justificado{
text-align: justify;
color: black;
}
.imagen-centrada{
    align-items: center;
}
body {
  background-image: url("https://svitla.com/uploads_converted/0/1364-kubernetes_vs_docker.webp?1545390453");
  background-size: cover;
  
  }
  
</style>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand">Docker</a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="../code/index.html">Index</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/docker.html">Docker</a>
                  </li>
              </ul>
            </div>
          </div>       
          

          

      </nav>
        <form method="POST">
                <body>
                <div align="center">
            <h1 class="encabezados"> Docker</h1>
            <br></div>                    
            <h3 style="text-indent: 80px"class="encabezados">¿Qué es Docler?</h3>
            <div class="container" >
                <div class="row">
                    <div class="col-6">
                        <div class="card" text-align: justify; ></div>
                            <div class="card-body">
                                <div class="col-9">
                                
                                    <p class="texto-justificado">  Docker es una plataforma de software que le permite crear, probar e implementar aplicaciones rápidamente. Docker empaqueta software en unidades estandarizadas llamadas contenedores que incluyen todo lo necesario para que el software se ejecute, incluidas bibliotecas, herramientas de sistema, código y tiempo de ejecución. Con Docker, puede implementar y ajustar la escala de aplicaciones rápidamente en cualquier entorno con la certeza de saber que su código se ejecutará.
    
                                        La ejecución de Docker en AWS les ofrece a desarrolladores y administradores una manera muy confiable y económica de crear, enviar y ejecutar aplicaciones distribuidas en cualquier escala.​​</p>
                                </div>
                                <!-- <div class="col-3"; text-align: justify; style="background-color: rgba(100, 100, 100, 0.5);">
                                   
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            
    <div  style="text-indent: 180px"> <img  src="https://blogs.encamina.com/por-una-nube-sostenible/wp-content/uploads/sites/19/2015/11/docker-logo-1024x914.png" width="200px" height="200px"></div>
    <br>
         
    </form>
    <!-- <div align="center" backgroundColor = "lightblue" >
        <a href="ubuntu" class="button">¿Que es ubuntu?</a>             
        <a href="docker" class="button">¿Que es un docker?</a>    
         -->
        

    </div>       
  </body>
</html>


