<!doctype html>
<html lang="es">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Contenedor</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
         crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
         crossorigin="anonymous">
        </script>
</head>
<style>
    .encabezados{
        color:antiquewhite;
    }
    .encabezado{
        color:antiquewhite;
        align:left;
        
    }
    .texto-justificado{
text-align: justify;
color: antiquewhite;
}
.imagen-centrada{
    align-items: center;
}
body {
  background-image: url("https://ubuntucommunity.s3.dualstack.us-east-2.amazonaws.com/original/2X/0/0921cb27d5604b464218a64ae88a3f43c7b7371a.png");
  background-size: cover;
  
  }
  
</style>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand">Ubuntu</a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/workspace/dockerfile/code/index.html">Index</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/code/docker.html">Docker</a>
                  </li>
              </ul>
            </div>
          </div>       
          

          

      </nav>
        <form method="POST">
                <body>
                <div align="center">
            <h1 class="encabezados"> Ubuntu</h1>
            <br></div>                    
            <h3 style="text-indent: 80px"class="encabezados">¿Qué es Ubuntu?</h3>
            <div class="container" >
                <div class="row">
                    <div class="col-6">
                        <div class="card" text-align: justify; ></div>
                            <div class="card-body">
                                <div class="col-9">
                                
                                    <p class="texto-justificado"> Ubuntu es una distribución Linux basada en Debian GNU/Linux, que incluye principalmente
                                        software libre y de código abierto.
                                        Puede utilizarse en ordenadores y servidores. Está orientado al usuario promedio,
                                         con un fuerte enfoque en la facilidad de uso y en mejorar la experiencia del usuario.
                                          Está compuesto de múltiple software normalmente distribuido bajo una licencia libre
                                           o de código abierto. Estadísticas web sugieren que la cuota de mercado de Ubuntu 
                                           dentro de las distribuciones Linux es, aproximadamente, del 52 %,
                                            y con una tendencia a aumentar como servidor web.​</p>
                                </div>
                                <!-- <div class="col-3"; text-align: justify; style="background-color: rgba(100, 100, 100, 0.5);">
                                   
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            
    <div  style="text-indent: 180px"> <img  src="https://img2.freepng.es/20180805/ywi/kisspng-ubuntu-linux-computer-icons-canonical-apt-ubuntu-logo-template-5b66e24793ff28.7611794715334692556062.jpg" width="200px" height="200px"></div>
    <br>
         
    </form>
    <!-- <div align="center" backgroundColor = "lightblue" >
        <a href="ubuntu" class="button">¿Que es ubuntu?</a>             
        <a href="docker" class="button">¿Que es un docker?</a>    
         -->
        

    </div>       
  </body>
</html>


